### Import Necessary packages

In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('data/full_data.csv', index_col = 0, parse_dates = [2,3])
df.head()

In [ ]:
df.shape

### Modify Dataset for Use

In [ ]:
# Drop lat_lng columns as they were only used for manipulation
df.drop(['start_lat_lng', 'end_lat_lng'], axis = 1, inplace = True)
df.to_csv('data/full_data.csv', index = False)

In [ ]:
# split dataset into years
years = np.arange(2010,2021,1)

for year in years:
    df[df.started_at.dt.year == year].to_csv(f'data/{year}_data.csv', index = False)

### Create New Dataset
Instead of loading in the whole dataset to calculate total rides per day during the modeling stage, a separate dataset will be created containing the relevant information.

In [27]:
import glob

datafiles = glob.glob('data/20*.csv')

trips = []

for file in datafiles:
    tmp = pd.read_csv(file, parse_dates = [1,2])
    
    tmp_count = (tmp['started_at']
                 .dt.floor('d')
                 .value_counts()
                 .rename_axis('date')
                 .reset_index(name = 'count'))
    
    trips.append(tmp_count)
    
num_trips = pd.concat(trips, axis = 0, ignore_index = True)

num_trips

C:\Users\Ji Ho\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

           date  count
0    2010-11-20   2351
1    2010-10-30   2292
2    2010-11-13   2265
3    2010-11-10   2049
4    2010-11-11   2049
...         ...    ...
3716 2020-05-06   1376
3717 2020-04-23   1270
3718 2020-03-23   1059
3719 2020-03-25    940
3720 2020-04-30    771

[3721 rows x 2 columns]

In [30]:
num_trips.sort_values(by = 'date', ignore_index = True, inplace = True)

In [31]:
num_trips

           date  count
0    2010-09-20    212
1    2010-09-21    324
2    2010-09-22    377
3    2010-09-23    373
4    2010-09-24    362
...         ...    ...
3716 2020-11-26   4181
3717 2020-11-27   5670
3718 2020-11-28   6870
3719 2020-11-29   5610
3720 2020-11-30   2248

[3721 rows x 2 columns]

In [32]:
num_trips.to_csv('data/trips_by_day.csv', index = False)